* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

@font-face {
    font-family: 'goboldregular';
    src: url('fonts/gobold_regular-webfont.woff2') format('woff2'), url('fonts/gobold_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fabrikatblack';
    src: url('fonts/hvd_fonts_-_fabrikat_black-webfont.woff2') format('woff2'), url('fonts/hvd_fonts_-_fabrikat_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fabrikatlight';
    src: url('fonts/hvd_fonts_-_fabrikat_light-webfont.woff2') format('woff2'), url('fonts/hvd_fonts_-_fabrikat_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobold_thinregular';
    src: url('fonts/gobold_thin-webfont.woff2') format('woff2'), url('fonts/gobold_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobold_thin_light_italicIt';
    src: url('fonts/gobold_light_italic-webfont.woff2') format('woff2'), url('fonts/gobold_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gill_sanssemibold';
    src: url('fonts/gillsans-semibold-webfont.woff2') format('woff2'), url('fonts/gillsans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    outline: none;
    display: block;
    border: 0;
    text-decoration: none;
}


/*
// dtp- desktop
// mb - mobile
// tb - tablet
*/

html, body {
    position: relative;
    background-color: white;
    font-family: sans-serif;
}

.main-container {
    background-image: url('../images/bg.jpg');
    background-size: contain;
    overflow: hidden;
    background-color: #abdbc5;
}

.header-one {
    margin-top: 46px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    background: #424244;
}

.header-one-wrapper {
    width: 80%;
    margin: 0 auto;
}

.logo-dtp {
    float: left;
}

.spotdesk-logo {
    width: 200px;
    padding: 8px;
}

.main-menu {
    list-style: none;
    float: right;
}

.main-menu li {
    float: left;
}

.main-menu li a {
    display: block;
    color: white;
    padding: 28px;
    font-family: gill_sanssemibold, calibri, helvetica;
}

.button a {
    padding: 7px 30px 7px 20px !important;
    position: relative;
    margin: 17px 10px 20px 20px;
    font-size: 14px;
    line-height: 19px;
}

.button a:after {
    content: "";
    border-left: 12px solid transparent;
    border-top: 12px solid rgba(0, 0, 0, 0.2);
    border-bottom: 11px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(134deg);
    right: 4px;
    bottom: 4px;
}

.button {
    display: inline-block;
    margin-bottom: 5px;
    font-family: gill_sanssemibold, calibri, helvetica;
}

.button.sign-up a {
    background: #7bd1e8;
    box-shadow: 2px 2px 0 #1ab3e4;
}

.button.enroll-now a {
    background: #ee3924;
    box-shadow: 3px 3px 0 #a93b22;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding: 10px 30px 10px 26px !important;
    margin: 10px 0 0 6px;
}

.button.login a {
    background: #81ccae;
    box-shadow: 2px 2px 0 #14aa91;
}


/* banner */

.ban {
    float: left;
    overflow: hidden;
    margin: -3px 0 0 0;
    padding-bottom: 50px;
    position: relative;
    width: 100%;
    background-color: rgba(129, 204, 174, 0.5);
}

.ban-left, .ban-right {
    width: 10%;
    float: left;
    padding: 10px;
    display: inline-block;
    position: relative;
}

.arrow {
    position: absolute;
    top: 240px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 70px !important;
    color: #fff;
    opacity: 0.7;
    transition: 0.2s;
}

.ban-left:hover .arrow, .ban-right:hover .arrow {
    opacity: 1;
}

.ban-content {
    width: 80%;
    float: left;
    padding: 10px 0;
    display: inline-block;
}

.ban-left-portion {
    width: 50%;
    float: left;
}

.ban-right-portion {
    width: 50%;
    float: left;
    text-transform: uppercase;
    padding: 0 10px;
}

.small-hdr {
    text-transform: uppercase;
    font-family: gill_sanssemibold, calibri, helvetica;
    font-size: 20px;
    font-weight: 100;
    margin-top: 23px;
}

.big-hdr {
    font-family: goboldregular;
    font-size: 77px;
    width: 455px;
    margin-top: 42px;
    line-height: 81px;
    color: #424244;
    text-shadow: 6px 5px 0 #fff;
    font-weight: 100;
}

.dot {
    padding: 5px;
    vertical-align: bottom;
    font-weight: bold;
    font-size: 28px;
    font-family: monospace;
}

.ban-content-bg {
    width: 455px;
    background: rgba(256, 256, 256, 0.4);
    padding: 12px 10px 33px 15px;
    margin-top: 23px;
}

.ban-content-bg p {
    font-size: 22px;
    font-weight: 100;
    line-height: 25px;
    font-family: gill_sanssemibold, calibri, helvetica;
}

.ban-content-firsthdr {
    font-family: gobold_thin_light_italicIt;
    font-size: 40px;
    margin-bottom: 32px;
    font-weight: 100;
}

.ban-right-portion h2, .ban-right-portion h5 {
    font-family: gobold_thin_light_italicIt;
    font-weight: 100;
    text-shadow: 2px 3px 0 #fff;
}

.ban-right-portion h2 {
    margin-top: 111px;
    font-size: 62px;
}

.ban-right-portion h5 {
    font-size: 28px;
    margin-top: 20px;
}


/* events */

.events {
    float: left;
    overflow: hidden;
    margin: 0 0 0 0;
    width: 100%;
    background-color: rgba(129, 204, 174, 0.5);
    padding-left: 124px;
}

.event-content {
    width: 100%;
    float: left;
    display: inline-block;
    position: relative;
    background: #f4f5f7;
    margin-left: -1px;
}

.events-hdr {
    font-family: gobold_thin_light_italicIt;
    padding: 60px 10px 20px 20px;
    font-size: 72px;
    color: #ed3923;
}

.event-dc-left {
    float: left;
    width: 56%;
}

.event-list {
    list-style: none;
}

.event-list li {
    overflow: hidden;
    padding-bottom: 11px;
}

.event-ls-left {
    float: left;
    width: 36%;
    overflow: hidden;
}

.event-ls-right {
    width: 64%;
    float: left;
    overflow: hidden;
    font-family: sans-serif;
}

.event-date-content {
    overflow: hidden;
    background: #5c5e5d;
}

.event-list li:nth-child(odd) {
    background-color: #424244;
}

.event-list li:nth-child(even) {
    background-color: #f4f5f7;
}

.event-list li:nth-child(even) * {
    color: #424244;
}

.event-title {
    font-family: gobold_thin_light_italicIt;
    font-size: 28px;
    padding: 20px 0 0 15px;
    color: #fff;
    font-weight: 100;
}

.event-date-big {
    font-family: gobold_thin_light_italicIt;
    font-size: 60px;
    padding: 20px 0 0 15px;
    color: #fff;
    font-weight: 100;
}

.event-desc {
    margin: 20px;
    color: #fff;
    font-family: gill_sanssemibold, calibri, helvetica;
    font-weight: 100;
}

.event-desc p {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 18px;
}

.event-desc span {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 18px;
}

.event-desc aside {
    font-size: 14px;
    line-height: 22px;
    margin-top: 8px;
}

.button.eventls-enroll-now a {
    background: #ee3924;
    box-shadow: 3px 3px 0 #a93b22;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    padding: 8px 30px 8px 26px !important;
    margin: 7px 0 0 17px;
    text-transform: uppercase;
}

.event-dc-right {
    float: right;
    width: 44%;
    background-color: #5c5e5d;
    position: relative;
    overflow: hidden;
}

.event-rt-ls li:nth-child(1) {
    margin-top: 70px;
}

.event-rt-ls li {
    overflow: hidden;
    list-style: none;
    margin: 0 0 30px 80px;
}

.event-rt-ls-left {
    float: left;
    width: 50%;
    overflow: hidden;
}

.event-rt-ls-right {
    float: left;
    width: 200px;
    overflow: hidden;
}

.event-rt-desc {
    margin: 20px;
    color: #fff;
    font-family: gill_sanssemibold, calibri, helvetica;
    font-weight: 100;
}

.event-rt-desc p {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 18px;
}

.event-rt-desc span {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 18px;
}

.event-rt-desc aside {
    font-size: 14px;
    line-height: 22px;
    margin-top: 30px;
}

.small-line {
    height: 5px;
    background: white;
    width: 30px;
    display: inline-block;
    margin-bottom: 12px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* who-we-are */

.who-we-are {
    float: left;
    overflow: hidden;
    padding-left: 125px;
    width: 100%;
    background: #f4f5f7;
    position: relative;
}

.triangle-one-green {
    position: absolute;
    top: 2px;
    left: 126px;
}

.tr-green {
    border-top: 110px solid rgb(129, 204, 174) !important;
}

.wwa-content {
    width: 100%;
    float: left;
    display: inline-block;
    background: #f4f5f7;
    padding-bottom: 60px;
}

.wwa-hdr {
    font-family: gobold_thin_light_italicIt;
    padding: 60px 10px 22px 20px;
    font-size: 72px;
    color: #fff;
    background: #81ccae;
}

.wwa-text-content {
    overflow: hidden;
    background: #f4f5f7;
}

.wwa-content-left {
    float: left;
    width: 50%;
    font-family: gill_sanssemibold, calibri, helvetica;
    overflow: hidden;
    color: #424244;
    padding: 50px 0 0 30px;
    line-height: 20px;
}

.wwa-content-right {
    float: right;
    width: 50%;
    overflow: hidden;
    padding-left: 20px;
}

.wwa-right-banner {
    width: 100%;
    margin-top: 170px;
}

.textcenter {
    text-align: center;
    display: block;
}

.wwa-small-hdr1 {
    font-size: 15px;
}

.wwa-small-hdr2 {
    margin-top: 40px;
    font-size: 15px;
    font-weight: bold;
}

.wwa-small-hdr3 {
    margin-top: 70px;
    font-size: 30px;
    font-weight: 100;
    line-height: 35px;
}

.wwa-small-hdr4 {
    margin-top: 120px;
    font-size: 15px;
    font-weight: bold;
}

.learn-more {
    margin-top: 40px;
}

.learn-more a {
    background: #81ccae;
    box-shadow: 2px 2px 0 #14aa91;
    color: white;
}


/* footer */

.footer {
    float: left;
    overflow: hidden;
    padding-bottom: 60px;
    width: 100%;
    background: #424244;
}

.footer-social-menu li {
    float: left;
    list-style: none;
    margin: 0 5px;
}

.footer-social-menu i {
    display: block;
    background: #929091;
    padding: 0;
    border-radius: 50%;
    line-height: 30px;
    color: #424244;
    font-size: 18px;
    text-align: center;
    width: 30px;
}

.footer-one-wrapper {
    width: 80%;
    font-family: gill_sanssemibold, calibri, helvetica;
    margin: 0 auto;
}

.left-footer {
    float: left;
    width: 50%;
}

.right-footer {
    float: left;
    width: 50%;
}

.footer-content {
    color: #929091;
    margin-top: 40px;
    line-height: 22px;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
}

.sign-up-block {}

.tiny-text {
    font-size: 12px;
    color: #929091;
    font-family: initial;
    margin-top: 20px;
}

.signup-inputbox {
    margin-top: 12px;
}

.tiny-text-italic {
    font-size: 12px;
    color: #929091;
    font-family: initial;
    font-style: italic;
    margin-top: 20px;
}

.button.request-syllabus a {
    background: #56dab8;
    box-shadow: 3px 3px 0 #3bb998;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding: 10px 30px 10px 26px !important;
    margin: 30px 0 0 15px;
    text-transform: uppercase;
}

.signup-btn {
    border: none;
    outline: none;
    background: #ed4846;
    color: #ece6e9;
    padding: 0 20px;
    line-height: 30px;
    margin-left: 10px;
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 11px;
    font-weight: bold;
}

.emailbox {
    border: none;
    outline: none;
    line-height: 30px;
    height: 30px;
    font-size: 11px;
    padding: 0 10px;
    width: 200px;
}

.terms-links {
    display: inline-block;
    text-decoration: underline;
    color: #929091;
}

.company-list1 {
    float: left;
}

.rf-links {
    float: right;
    margin-right: 30%;
}

.rf-links h5 {
    color: #f4f5f7;
    margin: 50px 0 0 0;
}

.company-list1 a {
    color: #929091;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.company-list {
    margin-top: 20px;
}

.triangle-base {
    position: absolute;
}

.triangle-base:after {
    content: "";
    border-left: 100px solid transparent;
    border-top: 100px solid rgb(66, 66, 68);
    border-bottom: 100px solid transparent;
    border-right: 100px solid transparent;
    position: absolute;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    left: -100px;
    top: -124px;
}

.triangle-base:before {
    content: "";
}

.triangle-white {
    content: "";
    border-left: 110px solid transparent;
    border-top: 110px solid rgb(244, 245, 247);
    border-bottom: 110px solid transparent;
    border-right: 110px solid transparent;
    position: absolute;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
    left: -109px;
    top: 43px;
}

.green-button-left {
    margin: 20px 0;
    float: left;
    width: 470px;
}

.green-button-left .gb-group {
    border-left: 3px solid #35a98b;
    border-right: none;
    -webkit-box-shadow: 3px 3px 0 #35a98b;
    -moz-box-shadow: 3px 3px 0 #35a98b;
    -ms-box-shadow: 3px 3px 0 #35a98b;
    -o-box-shadow: 3px 3px 0 #35a98b;
    box-shadow: 3px 3px 0 #35a98b;
}

.green-button-left .gb-group::before {
    content: "";
    position: absolute;
    border-right: 30px solid #35a98b;
    border-left: 30px solid transparent;
    left: -62px;
    border-top: 16px solid transparent;
    border-bottom: 20px solid transparent;
    top: 14px;
}

.green-button-left .gb-group::after {
    display: none;
}

.scr-banner {
    width: 100%;
}

.triangle-white.tr2 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 42px;
    left: -266px;
}

.triangle-one {
    position: absolute;
    left: 1px;
}

.triangle-two {
    position: absolute;
    top: 155px;
    left: 1px;
}

.triangle-three {
    position: absolute;
    top: 271px;
    left: 2px;
}

.triangle-four {
    position: absolute;
    top: 388px;
    left: 3px;
}

.triangle-five {
    position: absolute;
    top: 505px;
    left: 4px;
}

.triangle-white.tr3 {
    border-top: 110px solid rgb(66, 66, 68);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 42px;
    left: -266px;
}

.triangle-white.tr4 {
    border-top: 110px solid rgb(66, 66, 68);
}

.aside-date {
    font-family: gobold_thin_light_italicIt;
    font-size: 22px;
    color: #fff;
    font-weight: 100;
    position: absolute;
    left: -89px;
    top: 52px;
    z-index: 1;
    width: 100px;
    -webkit-transform: rotate(316deg);
    -moz-transform: rotate(316deg);
    -o-transform: rotate(316deg);
    -ms-transform: rotate(316deg);
    transform: rotate(316deg);
}

.aside-date.grey {
    color: rgb(66, 66, 68);
}


/* sylabus */

.sylabus {
    float: left;
    overflow: hidden;
    margin: 0 0 0 0;
    width: 100%;
    background-color: rgba(129, 204, 174, 0.5);
    padding-left: 124px;
}

.sylabus-content {
    width: 100%;
    float: left;
    display: inline-block;
    position: relative;
    background: #424244;
}

.sylabus-main-menu {
    list-style: none;
    float: left;
}

.sylabus-main-menu li {
    float: left;
}

.sylabus-main-menu li a {
    display: block;
    color: white;
    padding: 28px;
    font-family: gill_sanssemibold, calibri, helvetica;
    position: relative;
}

.sylabus-main-menu li a::before {
    position: absolute;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f1f2f2;
    content: "";
    text-align: center;
    bottom: -3px;
    display: block;
    left: 45%;
    visibility: hidden;
}

.sylabus-main-menu li.active a::before {
    visibility: visible;
}

.button.sylabus-request-sylabus a {
    background: #ffffff;
    box-shadow: 2px 2px 0 #cccccc;
    text-transform: uppercase;
    color: #424244;
}

.button.sylabus-enroll a {
    background: #ee3924;
    box-shadow: 3px 3px 0 #a93b22;
    color: #fff;
    text-transform: uppercase;
}

.grey-space {
    background-color: #f1f2f2;
    height: 50px;
    width: 100%;
}

.sylabus-content-box {
    background: #fff;
}

.sc-left {
    float: left;
    width: 55%;
    background-color: #ffffff;
    position: relative;
    padding-bottom: 20px;
}

.left-white {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 124px;
    left: -124px;
    background: #fff;
}

.left-white1 {
    position: absolute;
    top: 200px;
    bottom: -200px;
    width: 124px;
    left: -124px;
    background: #fff;
}

.sc-right {
    float: left;
    width: 45%;
    margin-top: -50px;
    padding-left: 20px;
}

.sc-title {
    font-family: gobold_thin_light_italicIt;
    font-size: 24pt;
    padding: 20px 0 10px 0;
    margin-left: 15px;
    color: #424244;
    font-weight: 100;
    display: inline-block;
    border-bottom: 15px solid #56dab8;
}

.triangle-grey {
    content: "";
    border-left: 55px solid transparent;
    border-top: 55px solid rgb(66, 66, 68);
    border-bottom: 55px solid transparent;
    border-right: 55px solid transparent;
    position: absolute;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
    left: -54px;
    top: 20px;
    z-index: 1;
}

.sc-data {
    font-family: gill_sanssemibold, calibri, helvetica;
    font-weight: 100;
    padding: 10px 0 10px 15px;
    line-height: 20px;
    color: #686868;
}

.syllabus-panel {
    float: left;
}

.syllabus-panel.sub {
    width: 50%;
}

.syllabus-panel.sub.dates {
    width: 100%;
}

.syllabus-panel.formore {
    width: 50%;
}

.dates .sc-title {
    display: block;
    width: 90px;
}

.sub .sc-title {
    color: #808285;
}

.sub h4 {
    font-family: gill_sanssemibold, calibri, helvetica;
    font-weight: 100;
    padding: 20px 0 0 15px;
    line-height: 20px;
}

.formore .sc-title {
    color: #808285;
    border-bottom: none;
    display: block;
}

.green-button {
    margin: 20px 0;
}

.gb-group {
    display: inline-block;
    position: relative;
    line-height: 30px;
    background: #56dab8;
    color: #fff;
    padding: 5px 20px;
    font-family: goboldregular;
    text-transform: uppercase;
    border-right: 3px solid #35a98b;
    -webkit-box-shadow: -3px -3px 0 #35a98b;
    -moz-box-shadow: -3px -3px 0 #35a98b;
    -ms-box-shadow: -3px -3px 0 #35a98b;
    -o-box-shadow: -3px -3px 0 #35a98b;
    box-shadow: -3px -3px 0 #35a98b;
}

.gb-group:after {
    content: "";
    position: absolute;
    border-right: 30px solid transparent;
    border-left: 30px solid #35a98b;
    right: -61px;
    border-top: 16px solid transparent;
    border-bottom: 20px solid transparent;
    top: 14px;
}

.gb-date {
    font-size: 30px;
    display: inline-block;
    margin-top: 10px;
}

.gb-day {
    display: inline-block;
}

.gb-rate {
    margin: 0 25px;
    display: inline-block;
}

.gb-group .button {
    float: right;
}

.gb-group .button.enroll-now a {
    background: #ee3924;
    box-shadow: 3px 3px 0 #a93b22;
    color: #fff;
    font-size: 10px;
    display: inline-block;
    padding: 5px 20px 5px 20px !important;
    margin: 10px 0 10px 6px;
}

.gb-name {
    font-family: goboldregular;
    text-transform: uppercase;
    font-size: 18px;
    color: #52deba;
    padding-left: 30px;
}


/* last page css */

.ban-middle-portion {
    padding: 100px 20%;
}

.ban-center-title {
    font-family: goboldregular;
    font-size: 52px;
    margin-top: 42px;
    line-height: 81px;
    color: #ffffff;
    font-weight: 100;
}

.ban-center-desc {
    font-family: calibri, sans-serif, helvetica;
    font-size: 22px;
    color: #fff;
}

.ban-center-btn {
    display: block;
}

.ban-center-btn a {
    background: #ab1f67;
    box-shadow: 3px 3px 0 #ed196d;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding: 10px 30px 10px 26px !important;
    margin: 15px 0 0 0;
    text-transform: uppercase;
}

.ban-center-btn.get-started a {
    background: #ab1f67;
    box-shadow: 3px 3px 0 #ed196d;
}

.ban-center-btn.request-call a {
    background: #79d1e9;
    box-shadow: 3px 3px 0 #1db2e7;
}

.authour-tech-details {
    background: #f8ef23;
    float: left;
    overflow: hidden;
}

.authour-tech-title {
    font-family: gobold_thin_light_italicIt;
    font-size: 28px;
    padding: 20px 0 0 15px;
    color: #424244;
    font-weight: 100;
    margin-bottom: 20px;
}

.authour-tech-details-container {
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

.authour-tdc-details {
    margin-top: 20px;
}

.authour-tdc-details-left {
    float: left;
    width: 30%;
}

.authour-tdc-details-right {
    float: left;
    width: 70%;
}

.authour-tdcd-box-left {
    font-family: gill_sanssemibold, calibri, helvetica;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    float: left;
    width: 50%;
}

.authour-tdcd-box-left h5>span {
    text-transform: uppercase;
    padding-left: 5px;
}

.authour-tdcd-box-right {
    float: left;
    width: 50%;
    font-family: calibri, helvetica;
    font-size: 14px;
    line-height: 20px;
    padding-left: 5px;
}

.authour-tdcd-box {
    padding: 8px;
    background: #fff;
    margin-bottom: 10px;
}

.upcoming-courses {
    background: #fff;
    float: left;
    overflow: hidden;
    width: 100%;
}

.upcoming-courses-container {
    width: 80%;
    padding: 0 20px;
    margin: 0 auto 20px auto;
}

.upcoming-courses-list {
    overflow: hidden;
}

.upcoming-courses-list li {
    float: left;
    width: 225px;
    background: #f8ef23;
    padding: 15px;
    margin-left: 3%;
    list-style: none;
    margin-bottom: 3%;
}

.ucl-name {
    font-family: gobold_thin_light_italicIt;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    font-size: 26px;
    color: #424244;
    font-weight: 100;
    border-bottom: 12px solid #fff;
    width: auto;
    display: inline-block;
    padding-bottom: 3px;
}

.ucl-timings {
    font-family: gill_sanssemibold, calibri, helvetica;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.ucl-amt {
    background: #79d1e9;
    box-shadow: 3px 3px 0 #1db2e7;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding: 15px 30px 15px 26px !important;
    font-family: gill_sanssemibold, calibri, helvetica;
    margin: 10px 0 15px 0;
    text-transform: uppercase;
}

.ucl-desc {
    font-family: calibri, helvetica;
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
}

.ucl-moreinfo {
    background: #79d1e9;
    box-shadow: 3px 3px 0 #1db2e7;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: 10px 20px 10px 10px;
    font-family: gill_sanssemibold, calibri, helvetica;
    margin: 15px 0 0 0;
    text-transform: uppercase;
    position: relative;
}

.ucl-moreinfo:after {
    content: "";
    border-left: 8px solid transparent;
    border-top: 8px solid rgba(0, 0, 0, 0.2);
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(134deg);
    right: 4px;
    bottom: 4px;
}

.page-desc {
    background: #fff;
    float: left;
    position: relative;
    padding-bottom: 30px;
}

.page-desc-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

.pdc-left {
    float: left;
    width: 50%;
    font-family: calibri, helvetica;
    font-size: 14px;
    line-height: 20px;
    padding-left: 15px;
    margin-top: 5px;
}

.pdc-right {
    float: left;
    width: 50%;
}

.pdc-right-social li {
    float: left;
    list-style: none;
}

.pdc-right-social {
    position: absolute;
    right: 20%;
    bottom: 0;
}

.pdc-right-social li a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    display: block;
    font-size: 30px;
    color: #fff;
    margin-right: 20px;
}

.twit {
    background: #79d1e9;
}

.fb {
    background: #4166b0;
}

.linked {
    background: #043755;
}

.yellow-arrow {
    top: -120px;
    left: 0;
    border-bottom: 140px solid transparent;
    border-right: 110px solid transparent;
    position: absolute;
    content: "";
    border-left: 140px solid rgb(248, 239, 35) !important;
    border-top: 110px solid transparent;
}

.grey-big-title-box {
    float: left;
    background: #f8ef23;
    overflow: hidden;
    width: 100%;
}

.grey-big-title-container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.grey-big-title {
    font-family: gobold_thin_light_italicIt;
    padding: 60px 10px 20px 20px;
    font-size: 72px;
    color: #333;
}

.teachers-box {
    background: #fff;
    float: left;
    overflow: hidden;
    width: 100%;
}

.teachers-box-cont {
    width: 80%;
    margin: 0 auto;
}

.teachers-list li {
    float: left;
    list-style: none;
    width: 28.33%;
    margin: 0 2.5% 20px 2.5%;
    text-align: center;
}

.teachers-name {
    font-family: gobold_thin_light_italicIt;
    font-size: 28px;
    padding: 20px 0 5px 0;
    color: #424244;
    font-weight: 100;
    margin-bottom: 5px;
    border-bottom: 15px solid #81ccb0;
    display: inline-block;
}

.teacher-face {
    height: 250px;
    width: 100%;
}

.teacher-face img {
    max-width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    background: #f8ef23;
}

.about-teacher {
    background: #81ccb0;
    box-shadow: 3px 3px 0 #15ac91;
    color: #fff;
    font-size: 14px;
    display: block;
    padding: 10px 20px 10px 10px;
    font-family: gill_sanssemibold, calibri, helvetica;
    margin: 10px auto;
    text-transform: uppercase;
    position: relative;
    width: 105px;
    text-align: center;
}

.teaching-courses {
    background: #79d1e9;
    box-shadow: 3px 3px 0 #1db2e7;
    color: #fff;
    font-size: 14px;
    display: block;
    padding: 10px 20px 10px 10px;
    font-family: gill_sanssemibold, calibri, helvetica;
    margin: 10px auto;
    text-transform: uppercase;
    position: relative;
    width: 110px;
    text-align: center;
}

.afterit:after {
    content: "";
    border-left: 8px solid transparent;
    border-top: 8px solid rgba(0, 0, 0, 0.2);
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(134deg);
    right: 4px;
    bottom: 4px;
}


/* blog */

.grey-big-title-box.blue-big-title {
    background: #506db5;
}

.blue-big-title .grey-big-title {
    color: #fff;
}

.yellow-arrow.blue-arrow {
    border-left-color: #506db5 !important;
}

.blog-page-desc {
    background: #fff;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.blog-page-desc-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.tab-section li{
  list-style: none;
  float: left;
}
.tab-section{
  margin:0 0 20px 0;
  position: relative;
  z-index: 2;
}
.tab-section li:first-child a{
  border: none;
}
.tab-section li a{
  display: inline-block;
  font-family: calibri, helvetica;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding: 0 10px;
  border-left: 2px solid #333;
  color: #333;
}
.tab-section li.active a{
  font-weight: bold;
}
.blog-post-details{
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
.blog-post-details-left{
  float: left;
  width: 60%;
}
.blog-post-details-right{
  float: left;
  width: 40%;
  padding-left: 25px;
      padding-top: 52px;
}
.box-content{
  border:2px solid #88cdb1;
  font-family: calibri, helvetica;
      padding: 20px;
      margin-bottom: 30px;
}
.blog-post-details-right .blog-post-details-left-title{
  border: none;
}
.box-content-title{
  font-size: 18px;
  margin-bottom: 10px;
}
.box-content-desc{
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 20px;
}
.box-content-more{
    text-align: right;
}
.box-content-more a{
  color: #333;
  font-size: 20px;
  font-weight: bold;
}
.blog-post-details-left-title{
  font-family: gobold_thin_light_italicIt;
  text-transform: uppercase;
  margin: 0 0 15px 0;
  font-size: 26px;
  color: #424244;
  font-weight: 100;
  border-bottom: 12px solid #88cdb1;
  width: auto;
  display: inline-block;
  padding-bottom: 3px;
}
.upcoming-courses-list.whitelist li{
    background: #fff;
    border: 2px solid #88cdb1;
    width: 46%;
    margin-left: 0;
    margin-right: 3%;
}
.ucl-amt.meetup{
  background: #ab1f67;
box-shadow: 3px 3px 0 #ed196d;
}
.popular-post{
  background: #fff;
  border: 2px solid #88cdb1;
  padding: 20px 10px 10px 35px;
}
.popular-post li{
  list-style: none;
  font-family: gill_sanssemibold, calibri, helvetica;
  text-transform: uppercase;
  margin-bottom: 5px;
  list-style-type: decimal;
    text-indent: 5px;
}
.popular-post li a{
  display: block;
  text-decoration: none;
  color: #333;
  padding-bottom: 6px;
}
.inner-blog-banner{
  margin-bottom: 15px;
  margin-top: 20px;
}
.inner-blog-banner img{
  width: 100%;
}
.inner-blog-content{
  border: 2px solid #88cdb1;
  padding: 25px;
  font-family: calibri, helvetica;
  font-size: 16px;
}
.inner-blog-content p{
  line-height: 20px;
  margin-bottom: 10px;
}
