@media all and (max-width: 990px) {
    .header-one-wrapper {
        width: 100%;
    }
    .events, .who-we-are {
        padding-left: 0;
    }
    .triangle-one, .triangle-two, .triangle-three, .triangle-four, .triangle-five, .triangle-one-green {
        display: none;
    }
    .footer-one-wrapper {
        width: 96%;
    }
    .left-footer {
        width: 100%;
    }
    .right-footer {
        width: 100%;
    }
    .wwa-content-left {
        width: 100%;
        color: #424244;
        padding: 10px 15px 0 15px;
        line-height: 20px;
        margin: auto;
        float: none;
    }
    .wwa-right-banner {
        margin-top: 0;
    }
    .wwa-content-right {
        float: none;
        width: 100%;
        padding-left: 0;
    }
    .wwa-content {
        width: 100%;
        float: none;
        padding-bottom: 0;
    }
    .wwa-small-hdr4, .wwa-small-hdr3, .wwa-small-hdr2, .wwa-small-hdr1 {
        margin-top: 20px;
    }
    .event-dc-left, .event-dc-right {
        float: none;
        width: 100%;
    }
    .event-ls-right, .event-ls-left {
        width: 100%;
        float: none;
    }
    .event-rt-ls li {
        margin-left: 0;
    }
    .header-one {
        margin-top: 0;
        height: 70px;
    }
    .event-rt-ls-left {
        float: none;
        width: 100%;
    }
    .ban-left-portion, .ban-right-portion {
        width: 100%;
        float: none;
    }
    .small-hdr {
        font-size: 12px;
    }
    .big-hdr {
        font-size: 34px;
        width: auto;
        margin-top: 10px;
        line-height: 38px;
        text-shadow: 2px 2px 0 #fff;
    }
    .ban-content-bg {
        width: auto;
        padding: 12px 10px 20px 15px;
        margin-top: 20px;
    }
    .ban-content-firsthdr {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .rf-links {
        float: none;
        margin-right: 0;
        text-align: center;
    }
    .company-list1 {
        float: left;
        width: 50%;
    }
    .footer {
        padding-bottom: 20px;
    }
    .ban-content-bg p {
        font-size: 14px;
    }
    .ban-right-portion h2 {
        margin-top: 30px;
        font-size: 22px;
    }
    .ban-right-portion h5 {
        font-size: 18px;
        margin-top: 10px;
    }
    .arrow {
        font-size: 30px !important;
    }
    .button {
        display: block;
    }
    .button.enroll-now a {
        margin: 25px 0 0 0;
        width: 100%;
        text-align: center;
    }
    .event-list li, .events-hdr, .wwa-hdr, .event-rt, .ban-left-portion, .ban-right-portion {
        text-align: center;
    }
    .event-rt-ls-right {
        float: none;
        width: 100%;
    }
    .events-hdr, .wwa-hdr {
        padding: 20px 10px 20px 20px;
        font-size: 30px;
    }
    .event-title {
        font-size: 20px;
    }
    .wwa-small-hdr3 {
        font-size: 20px;
        line-height: 23px;
    }
    .event-rt-ls li:nth-child(1) {
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .event-date-big {
        font-size: 32px;
    }
    .sylabus {
        float: none;
        width: 100%;
        padding-left: 0;
    }
    .sc-left, .sc-right {
        width: 100%;
        float: none;
    }
    .sc-data {
        padding: 15px;
    }
    .sc-right {
        margin-top: 20px;
        padding: 0;
        overflow: hidden;
    }
    .green-button, .green-button-left {
        text-align: center;
        width: 50%;
        float: left;
    }
    .sylabus-main-menu li.active a:after {
        visibility: hidden;
    }
    .gb-group:after, .gb-group:before {
        display: none;
    }
    .dates .sc-title {
        display: block;
        width: 90px;
    }
    .gb-group .button {
        float: none;
    }
    .gb-group {
        margin-top: 10px;
    }
    .syllabus-panel.sub, .syllabus-panel.formore {
        float: none;
        width: 100%;
    }
}

@media all and (max-width: 767px) {
    .green-button, .green-button-left {
        text-align: center;
        width: 320px;
        display: block;
        margin: 20px auto;
        float: none;
    }
    .ban-middle-portion {
        padding: 10px;
    }
    .ban-center-title {
        line-height: 55px;
    }
    .grey-big-title-container, .authour-tdcd-box-left, .authour-tdcd-box-right, .authour-tdc-details-left, .authour-tdc-details-right, .pdc-left, .pdc-right, .page-desc-container, .authour-tech-details-container, .upcoming-courses-container, .grey-big-title-container, .teachers-box-cont {
        width: 100%;
        padding: 10px;
    }
    .grey-big-title {
        padding: 10px;
        font-size: 40px;
        line-height: 45px;
    }
    .pdc-right-social {
        position: relative;
        right: 0;
        left: 0;
    }
    .fullpage-with-pad .sc-right {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .fullpage-with-pad .scr-banner {
        padding-left: 0;
        float: none;
        margin-top: 0;
    }
    .image-qoutes {
        font-size: 15px;
        line-height: 25px;
        color: #424244;
        font-weight: 100;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 15px;
        float: none;
    }
    .upcoming-courses-list li {
        float: none;
        margin: 10px auto;
    }
    .teachers-list li {
        float: left;
        list-style: none;
        width: 100%;
        margin: 0 2.5% 20px 2.5%;
        text-align: center;
    }
    .authour-tdc-details-left {
        text-align: center;
    }
    .yellow-arrow {
        display: none;
    }
    .blog-page-desc {
        width: 100%;
        padding: 0 15px;
        margin: 0;
    }
    .header-one-wrapper nav {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        background: #424244;
        top: 70px;
    }
    .main-menu {
        float: none;
    }
    .main-menu li {
        float: none;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #333;
    }
    .logo-dtp {
        float: none;
        text-align: center;
    }
    .mobile-only {
        display: inline-block;
    }
    .hamburger {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        font-size: 30px;
        color: #fff;
    }
    .main-menu li a {
        padding: 15px;
    }
    .main-menu li:last-child {
        border: none;
    }
    .blog-post-details {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .upcoming-courses-list.workshop li {
        float: none;
        margin: 10px auto;
    }
    .upcoming-course .sc-left {
        text-align: center;
    }
    .blog-post-details-left, .blog-post-details-right {
        width: 100%;
        padding: 15px 0;
    }
    .upcoming-courses-list.whitelist li {
        width: 100%;
        text-align: center;
    }
    .box-content-left {
        width: 100%;
        float: none;
    }
    .box-content-right {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .left-footer {
        text-align: center;
    }
    .footer-title {
        font-size: 30px;
    }
    .footer-content {
        line-height: 20px;
        font-size: 14px;
        color: #fff;
    }
    .ucl-moreinfo.footer-btn {
        padding: 10px 30px 10px 20px;
        font-size: 18px;
    }
    .footer-contact-left {
        width: 100%;
    }
    .footer-cotactus {
        margin: 20px 70px 0 70px;
        border-bottom: 3px solid #fff;
        border-top: 3px solid #fff;
        padding: 15px 0;
    }
    .right-footer {
        display: none;
    }
    .footbot-left {
        float: none;
        line-height: 22px;
        text-align: center;
        font-size: 12px;
        width: 137px;
        display: block;
        margin: 15px auto;
    }
    .footbot-right {
        text-align: center;
        display: block;
        width: 100%;
    }
    .footer-bottom {
        border: none;
    }
    .footer-social-menu {
        display: inline-block;
    }
    .sylabus-main-menu li.active a:before {
        display: none;
    }
    .sylabus-main-menu li.active a {
        color: #666
    }
    .sylabus-main-menu {
        float: none;
    }
    .sylabus-main-menu li a {
        padding: 15px;
    }
    .sylabus-main-menu li {
        float: none;
        display: block;
        text-align: center;
    }
    .blog-page-desc-container {
        width: 100%;
    }
    .free-content {
        width: auto;
    }
    .upcoming-courses-list.courses li {
        background: #fff;
        border: 2px solid #88cdb1;
        width: 235px;
        text-align: center;
        float: none;
        margin: 10px auto;
    }
    .upcoming-courses-list {
        text-align: center;
    }
    .free-borderbot-heading {
        text-align: center;
    }
    .center-button a {
        margin-bottom: 20px;
    }
    .box-content {
        margin: 15px;
    }
    .for-more-btn-blog {
        float: none;
        padding: 20px;
    }
    .border-blog {
        float: none;
        padding: 10px;
        text-align: center;
        width: 100%;
        margin: 5px auto;
    }
    .popup-box {
        padding: 5px;
        width: auto;
        margin: auto;
        position: absolute;
        left: 5%;
        right: 5%;
        top: 20px;
    }
    .pb-hdr h2 {
        width: 80%;
        font-size: 28px;
        padding: 0;
        line-height: 36px;
    }
    .upcoming-courses-list.seperate li {
        background: #fff;
        border: 2px solid #88cdb1;
        width: 225px;
        margin: 10px auto;
        float: none;
    }
    .fullpage-with-pad {
        padding: 15px;
    }
    .fullpage-with-pad .sc-left {
        width: 100%;
    }
}

@media all and (min-width:768px) and (max-width:1024px) {
    .ban-middle-portion {
        padding: 20px;
    }
    .ban-center-title {
        line-height: 60px;
    }
    .grey-big-title-container, .pdc-left, .pdc-right, .page-desc-container, .authour-tech-details-container, .upcoming-courses-container, .grey-big-title-container, .teachers-box-cont {
        width: 100%;
        padding: 20px;
    }
    .yellow-arrow {
        display: none;
    }
    .pdc-right-social {
        position: relative;
        right: 0;
        left: 0;
    }
    .authour-tdc-details-left {
        width: 40%;
    }
    .authour-tdc-details-right {
        width: 60%;
    }
    .upcoming-courses-list li {
        width: 30.33%;
    }
    .teacher-face {
        height: 200px;
        width: 100%;
    }
    .blog-post-details {
        width: 100%;
    }
    .upcoming-courses-list.whitelist li {
        width: 100%;
    }
}
